.IdCard {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: flex;
  line-height: 1.3;

  .image {
    img {
      width: 140px;
    }
  }

  .text {
    margin-left: 7px;
    p {
      margin: 0;
      font-size: 17px;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
  }
}
